

.logoPicture {
  visibility: visible;
    height: 10px;
    width: 25px;
    position: fixed;
}

.mainPhoto{
	width: 9000px;
	height: 10%;
}
  /* podesavanje za poziciju registracija  btn */
  #right-position {
    position: relative;
    top: 20px;
    right:25px;
    size: 24px;
  }