<html> 
<head> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FitPass</title>
 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- css fajlovi -->
    <link rel="stylesheet" href="css/header-home-page.css">
  <link rel="stylesheet" href="css/objects-home-page.css">
    <link rel="stylesheet" href="css/trainings.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
    </head> 
    <body>
     <div >
            <div   style="background-image: url(pictures/firstPhoto.jpg); width: 100%; height: 33%" >
                <img style="  visibility: visible; height: 7rem; width: 20rem; position: fixed; margin-left: 2rem" class="logoPicture" src="pictures/FitPass-logo-4-3.png">
                <div >
                <button type="button" style="margin-top: 1rem;margin-right: 1rem" class="btn btn-success pull-right"  data-toggle="modal" data-target="#registracija">Registracija</button>
                <button  type="button" style="margin-top: 1rem; margin-left: 1rem" class="btn btn-danger pull-right"  data-toggle="modal" data-target="#prijava">Prijavi se</button>
            </div>
            </div>
     </div>   
     
           
 <!-- Modal registracija-->
 <div class="modal fade" id="registracija" role="dialog" >
    <div class="modal-dialog" >
        <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h5 class="modal-title" id="exampleModalLabel">Registracija</h5>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
            <form role="form" method="POST"  @submit="registration" >
                <div class="form-group">
                    <label for="name" >Ime</label>
                    <input type="text" class="form-control" placeholder="Unesite Vase ime" v-model="user.name" >
                    <label for="name" >Prezime</label>
                    <input type="text" class="form-control"  placeholder="Unesite Vase prezime" v-model="user.surname" >
                    <div class="genderRow"> 
                        <label >Pol </label>
                        <div class="col"> 
                            <input type="radio" name="gender"  value="MUSKI" v-model="user.gender"  style="margin-left: 0.2em"><small style="margin-left: 1em">Muski</small>
                           <input type="radio" name="gender"  value="ZENSKI" v-model="user.gender"  style="margin-left: 2em"> <small  style="margin-left: 1em">Zenski</small>
                         </div>    
                    </div>
                    <div> </div>
                    <label for="text" >Datum rodjenja</label>
                    <div class="genderRow">
                      <input type="date" style="width: 390px;height: 30px;"  class="date" v-model="user.birthday"  > 
                    </div>
                    
                    <label for="text" >Adresa</label>
                    <div>
                      <table>
                         <tr>
                      <td><input type="text"  class="form-control" placeholder="Ulica" v-model="user.street"></td>
                    
                        <td><input type="text" class="form-control" placeholder="Broj" v-model="user.number"></td>
                        
                     <tr>
                        <td> <input type="text" class="form-control" placeholder="Grad" v-model="user.city" ></td>
                      <td><input type="text" class="form-control"  placeholder="Postanski broj" v-model="user.zipCode" ></td>
                     </tr>
                     
                  
                      </table>
                     
                    </div>
                    
                    <label for="usrname"><span class="glyphicon glyphicon-user"></span> Korisnicko ime</label>
                    <input type="text" class="form-control" id="usrname" placeholder="Unesite korisnicko ime" v-model="user.username" >
                </div>
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Lozinka</label>
                  <input type="password" class="form-control"  id="psw" placeholder="Unesite lozinku" v-model="user.password" >
                </div>
                <button type="submit" class="btn btn-success btn-block"><span ></span> Registruj se</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-default pull-left"  data-dismiss="modal">Odustani</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal prijava-->
  <div class="modal fade" id="prijava" role="dialog" >
    <div class="modal-dialog" >
        <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h5 class="modal-title" id="exampleModalLabel">Prijava</h5>
        </div>
        <div class="modal-body" id="logovanje" style="padding:40px 50px;">
            <form role="form" method='post' @submit="login">
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-user"></span> Korisnicko ime</label>
                  <input type="text" class="form-control" id="usrname" placeholder="Unesite korisnicko ime" v-model="user.username">
                </div>
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Lozinka</label>
                  <input type="password" class="form-control"  id="psw" placeholder="Unesite lozinku" v-model="user.password">
                </div>
                <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Logovanje</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-default pull-left"  data-dismiss="modal">Odustani</button>   
        </div>
      </div>
    </div>
  </div>
  
             <script type="text/javascript">
            var map = new ol.Map({
              target: 'map',
              layers: [
                new ol.layer.Tile({
                  source: new ol.source.OSM()
                })
              ],
              view: new ol.View({
                center: ol.proj.fromLonLat([37.41, 8.82]),
                zoom: 4
              })
            });
          </script>    
 
          <div id="pocetnaID">
            <router-view></router-view>
          </div>

      
         
    <script src="vue.js"></script>
    <script src="vue-router.js"></script>
    <script src="axios.js"></script>

    
    <script src="js/jquery.min.js"></script>
    <script src="js/moment.min.js"></script>
<script src="js/register.js"></script>
<script src="js/login.js"></script>

   <script src="app/PlacesHomepage.js"></script>
    <script src="app/PlaceProfile.js"></script>
   <script src="app/pocetnaRuter.js"></script> <!-- komponente treba dodavati pre rutera! -->
  

    <script src="js/v5.3.0-dist/ol.js"></script> <!-- For maps chosing -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>